{% load static %}
<script src="{% static 'assets/js/vendors/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}" defer></script>
<script src="{% static 'assets/js/vendors/bootstrap/dist/js/popper.min.js' %}" defer></script>
<script src="{% static 'assets/js/vendors/font-awesome/fontawesome-min.js' %}"></script>
<script src="{% static 'assets/js/vendors/feather-icon/feather.min.js' %} "></script>
<script src="{% static 'assets/js/sidebar.js' %}"></script>
<script src="{% static 'assets/js/scrollbar/simplebar.js' %}"></script>
<script src="{% static 'assets/js/scrollbar/custom.js' %}"></script>
<script src="{% static 'assets/js/slick/slick.min.js' %}"></script>
<script src="{% static 'assets/js/slick/slick.js' %}"></script>
<!--<script src="{% static '/assets/js/theme-customizer/customizer.js' %}"></script>-->
<script src="{% static '/assets/js/script.js' %}"></script>

<!--Editor-->
<script src="{% static 'assets/js/editors/custom-quill.js' %}"></script>
<script src="{% static 'assets/js/editors/quill.js' %}"></script>
<script src="{% static 'assets/js/custom-add-product3.js' %}"></script>

