{% extends 'private/partials/base.html' %}
{% load static %}

{% block title %}Event Category Management{% endblock %}

{% block content %}
    {% include 'private/events/category/partials/page-header.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body table-responsive">
                        {% include 'private/events/category/partials/filters.html' %}
                        {% include 'private/events/category/partials/category-table.html' %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="resultsInfo" class="text-muted small mt-4"></div>
                            </div>
                            <div class="col-sm-6">
                                <div id="paginationContainer" class="mt-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block extra_js %}
        <script src="{% static 'js/events/categories/eventCategories.js' %}" type="module"></script>
    {% endblock %}
{% endblock %}