<body>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="sr-no-header text-center">#</th>
                    <th>Title</th>
                    <th>Require Date</th>
                    <th>Require Multi Select</th>
                    <th>Status</th>
                    <th>Created Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="donationCategoriesTableBody">
                <!-- Table rows will be rendered here -->
            </tbody>
        </table>
    </div>
</body>