{% extends 'public/base.html' %}
{% load static %}
{% block content %}
<!-- Membership Registration Wizard -->
<div class="container-fluid">
  <div class="page-title mt-3">
    <div class="row">
      <div class="col-sm-6 col-12">
        <h2>Certificates</h2>
      </div>
      <div class="col-sm-6 col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="iconly-Home icli svg-color"></i></a></li>
          <li class="breadcrumb-item">Certificates</li>
          <li class="breadcrumb-item active">User</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    {% include 'public/users/partials/_sidebar.html' %}
    <div class="col-xl-9 col-md-8 box-col-8">
      <div class="card border-primary">
        <div class="card-header card-no-border bg-primary border-primary">
          <h3>Certificates</h3>
        </div>
        <div class="gallery my-gallery card-body row" itemscope="" data-pswp-uid="1">
          <div class="h5 mb-3"><button class="btn btn-outline-primary-2x">Year - 2025</button></div>
          <figure class="col-xl-3 col-md-4 col-6" itemprop="associatedMedia" itemscope=""><a
              href="https://scontent.fsin4-1.fna.fbcdn.net/v/t39.30808-6/489822647_1081988937288972_2722589031704146536_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=f727a1&_nc_ohc=u00u8umVqiAQ7kNvwGZu2nV&_nc_oc=Adk3NioW531Jc0AS3wqnhWLYMyuYdP6pGOU4fbON7_8dvZTiNBAv2QFeOSt6TWh36ho&_nc_zt=23&_nc_ht=scontent.fsin4-1.fna&_nc_gid=_Jy6aTXX2JYiJbRsvOFADw&oh=00_Afnu94TGw32j-8_YWUxkVj8ixmpKEp2Gpz1oSzpq9KpvJA&oe=694C50DB" itemprop="contentUrl" data-size="1600x950"><img
                class="img-thumbnail" src="https://scontent.fsin4-1.fna.fbcdn.net/v/t39.30808-6/489822647_1081988937288972_2722589031704146536_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=f727a1&_nc_ohc=u00u8umVqiAQ7kNvwGZu2nV&_nc_oc=Adk3NioW531Jc0AS3wqnhWLYMyuYdP6pGOU4fbON7_8dvZTiNBAv2QFeOSt6TWh36ho&_nc_zt=23&_nc_ht=scontent.fsin4-1.fna&_nc_gid=_Jy6aTXX2JYiJbRsvOFADw&oh=00_Afnu94TGw32j-8_YWUxkVj8ixmpKEp2Gpz1oSzpq9KpvJA&oe=694C50DB" itemprop="thumbnail"
                alt="Image description"></a>
            <figcaption itemprop="caption description">Image caption 1</figcaption>
          </figure>
          <figure class="col-xl-3 col-md-4 col-6" itemprop="associatedMedia" itemscope=""><a
              href="../assets/images/big-lightgallry/02.jpg" itemprop="contentUrl" data-size="1600x950"><img
                class="img-thumbnail" src="https://scontent.fsin4-1.fna.fbcdn.net/v/t39.30808-6/489822647_1081988937288972_2722589031704146536_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=f727a1&_nc_ohc=u00u8umVqiAQ7kNvwGZu2nV&_nc_oc=Adk3NioW531Jc0AS3wqnhWLYMyuYdP6pGOU4fbON7_8dvZTiNBAv2QFeOSt6TWh36ho&_nc_zt=23&_nc_ht=scontent.fsin4-1.fna&_nc_gid=_Jy6aTXX2JYiJbRsvOFADw&oh=00_Afnu94TGw32j-8_YWUxkVj8ixmpKEp2Gpz1oSzpq9KpvJA&oe=694C50DB" itemprop="thumbnail"
                alt="Image description"></a>
            <figcaption itemprop="caption description">Image caption 2</figcaption>
          </figure>
          <figure class="col-xl-3 col-md-4 col-6" itemprop="associatedMedia" itemscope=""><a
              href="../assets/images/big-lightgallry/03.jpg" itemprop="contentUrl" data-size="1600x950"><img
                class="img-thumbnail" src="https://scontent.fsin4-1.fna.fbcdn.net/v/t39.30808-6/489822647_1081988937288972_2722589031704146536_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=f727a1&_nc_ohc=u00u8umVqiAQ7kNvwGZu2nV&_nc_oc=Adk3NioW531Jc0AS3wqnhWLYMyuYdP6pGOU4fbON7_8dvZTiNBAv2QFeOSt6TWh36ho&_nc_zt=23&_nc_ht=scontent.fsin4-1.fna&_nc_gid=_Jy6aTXX2JYiJbRsvOFADw&oh=00_Afnu94TGw32j-8_YWUxkVj8ixmpKEp2Gpz1oSzpq9KpvJA&oe=694C50DB" itemprop="thumbnail"
                alt="Image description"></a>
            <figcaption itemprop="caption description">Image caption 3</figcaption>
          </figure>
          <figure class="col-xl-3 col-md-4 col-6" itemprop="associatedMedia" itemscope=""><a
              href="../assets/images/big-lightgallry/04.jpg" itemprop="contentUrl" data-size="1600x950"><img
                class="img-thumbnail" src="https://scontent.fsin4-1.fna.fbcdn.net/v/t39.30808-6/489822647_1081988937288972_2722589031704146536_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=f727a1&_nc_ohc=u00u8umVqiAQ7kNvwGZu2nV&_nc_oc=Adk3NioW531Jc0AS3wqnhWLYMyuYdP6pGOU4fbON7_8dvZTiNBAv2QFeOSt6TWh36ho&_nc_zt=23&_nc_ht=scontent.fsin4-1.fna&_nc_gid=_Jy6aTXX2JYiJbRsvOFADw&oh=00_Afnu94TGw32j-8_YWUxkVj8ixmpKEp2Gpz1oSzpq9KpvJA&oe=694C50DB" itemprop="thumbnail"
                alt="Image description"></a>
            <figcaption itemprop="caption description">Image caption 4</figcaption>
          </figure>
          <div class="h5 mb-3"><button class="btn btn-outline-primary-2x">Year - 2024</button></div>
          <figure class="col-xl-3 col-md-4 col-6" itemprop="associatedMedia" itemscope=""><a
              href="../assets/images/big-lightgallry/05.jpg" itemprop="contentUrl" data-size="1600x950"><img
                class="img-thumbnail" src="https://scontent.fsin4-1.fna.fbcdn.net/v/t39.30808-6/489953733_1081988893955643_4514493720029392200_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=f727a1&_nc_ohc=c5sI_jQAnrsQ7kNvwGoHcMy&_nc_oc=Adn2Wt0l5v51kTTs-f3AzheiaHt7f4kqaifZMNVDJsffpse-2Av4nNzRvPXpvgSjcoM&_nc_zt=23&_nc_ht=scontent.fsin4-1.fna&_nc_gid=1nC9GDXy0G6Zw0YeRSTa9g&oh=00_AfntP2d5kf77mV5FOttcun2rRp0WGag6fG2jzY4elinwWw&oe=694C6810" itemprop="thumbnail"
                alt="Image description"></a>
            <figcaption itemprop="caption description">Image caption 5</figcaption>
          </figure>
          <figure class="col-xl-3 col-md-4 col-6" itemprop="associatedMedia" itemscope=""><a
              href="../assets/images/big-lightgallry/06.jpg" itemprop="contentUrl" data-size="1600x950"><img
                class="img-thumbnail" src="https://scontent.fsin4-1.fna.fbcdn.net/v/t39.30808-6/489953733_1081988893955643_4514493720029392200_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=f727a1&_nc_ohc=c5sI_jQAnrsQ7kNvwGoHcMy&_nc_oc=Adn2Wt0l5v51kTTs-f3AzheiaHt7f4kqaifZMNVDJsffpse-2Av4nNzRvPXpvgSjcoM&_nc_zt=23&_nc_ht=scontent.fsin4-1.fna&_nc_gid=1nC9GDXy0G6Zw0YeRSTa9g&oh=00_AfntP2d5kf77mV5FOttcun2rRp0WGag6fG2jzY4elinwWw&oe=694C6810" itemprop="thumbnail"
                alt="Image description"></a>
            <figcaption itemprop="caption description">Image caption 8</figcaption>
          </figure>
          <figure class="col-xl-3 col-md-4 col-6" itemprop="associatedMedia" itemscope=""><a
              href="../assets/images/big-lightgallry/07.jpg" itemprop="contentUrl" data-size="1600x950"><img
                class="img-thumbnail" src="https://scontent.fsin4-1.fna.fbcdn.net/v/t39.30808-6/489953733_1081988893955643_4514493720029392200_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=f727a1&_nc_ohc=c5sI_jQAnrsQ7kNvwGoHcMy&_nc_oc=Adn2Wt0l5v51kTTs-f3AzheiaHt7f4kqaifZMNVDJsffpse-2Av4nNzRvPXpvgSjcoM&_nc_zt=23&_nc_ht=scontent.fsin4-1.fna&_nc_gid=1nC9GDXy0G6Zw0YeRSTa9g&oh=00_AfntP2d5kf77mV5FOttcun2rRp0WGag6fG2jzY4elinwWw&oe=694C6810" itemprop="thumbnail"
                alt="Image description"></a>
            <figcaption itemprop="caption description">Image caption 9</figcaption>
          </figure>
          <figure class="col-xl-3 col-md-4 col-6" itemprop="associatedMedia" itemscope=""><a
              href="../assets/images/big-lightgallry/08.jpg" itemprop="contentUrl" data-size="1600x950"><img
                class="img-thumbnail" src="https://scontent.fsin4-1.fna.fbcdn.net/v/t39.30808-6/489822647_1081988937288972_2722589031704146536_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=f727a1&_nc_ohc=rcZ5ZPIJfVUQ7kNvwFCqCum&_nc_oc=AdnWV8T8Ky3sWGt_fFSuTB_Rzgq7fQ-BafW8pQNJo8qM-VtGYAjTjy1-1u5noUj0fCQ&_nc_zt=23&_nc_ht=scontent.fsin4-1.fna&_nc_gid=batSpobcWCUh7AY-CF1PlA&oh=00_AfmeSJzlbfG4w-84zZy4ln-rahtN7ijTk6LiGKfwAQXErQ&oe=694467DB" itemprop="thumbnail"
                alt="Image description"></a>
            <figcaption itemprop="caption description">Image caption 10</figcaption>
          </figure>
          <figure class="col-xl-3 col-md-4 col-6" itemprop="associatedMedia" itemscope=""><a
              href="../assets/images/big-lightgallry/09.jpg" itemprop="contentUrl" data-size="1600x950"><img
                class="img-thumbnail" src="https://scontent.fsin4-1.fna.fbcdn.net/v/t39.30808-6/489822647_1081988937288972_2722589031704146536_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=f727a1&_nc_ohc=rcZ5ZPIJfVUQ7kNvwFCqCum&_nc_oc=AdnWV8T8Ky3sWGt_fFSuTB_Rzgq7fQ-BafW8pQNJo8qM-VtGYAjTjy1-1u5noUj0fCQ&_nc_zt=23&_nc_ht=scontent.fsin4-1.fna&_nc_gid=batSpobcWCUh7AY-CF1PlA&oh=00_AfmeSJzlbfG4w-84zZy4ln-rahtN7ijTk6LiGKfwAQXErQ&oe=694467DB" itemprop="thumbnail"
                alt="Image description"></a>
            <figcaption itemprop="caption description">Image caption 11</figcaption>
          </figure>
          <figure class="col-xl-3 col-md-4 col-6" itemprop="associatedMedia" itemscope=""><a
              href="../assets/images/big-lightgallry/010.jpg" itemprop="contentUrl" data-size="1600x950"><img
                class="img-thumbnail" src="https://scontent.fsin4-1.fna.fbcdn.net/v/t39.30808-6/489822647_1081988937288972_2722589031704146536_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=f727a1&_nc_ohc=rcZ5ZPIJfVUQ7kNvwFCqCum&_nc_oc=AdnWV8T8Ky3sWGt_fFSuTB_Rzgq7fQ-BafW8pQNJo8qM-VtGYAjTjy1-1u5noUj0fCQ&_nc_zt=23&_nc_ht=scontent.fsin4-1.fna&_nc_gid=batSpobcWCUh7AY-CF1PlA&oh=00_AfmeSJzlbfG4w-84zZy4ln-rahtN7ijTk6LiGKfwAQXErQ&oe=694467DB" itemprop="thumbnail"
                alt="Image description"></a>
            <figcaption itemprop="caption description">Image caption 12</figcaption>
          </figure>
          <figure class="col-xl-3 col-md-4 col-6" itemprop="associatedMedia" itemscope=""><a
              href="../assets/images/big-lightgallry/011.jpg" itemprop="contentUrl" data-size="1600x950"><img
                class="img-thumbnail" src="https://scontent.fsin4-1.fna.fbcdn.net/v/t39.30808-6/489822647_1081988937288972_2722589031704146536_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=f727a1&_nc_ohc=rcZ5ZPIJfVUQ7kNvwFCqCum&_nc_oc=AdnWV8T8Ky3sWGt_fFSuTB_Rzgq7fQ-BafW8pQNJo8qM-VtGYAjTjy1-1u5noUj0fCQ&_nc_zt=23&_nc_ht=scontent.fsin4-1.fna&_nc_gid=batSpobcWCUh7AY-CF1PlA&oh=00_AfmeSJzlbfG4w-84zZy4ln-rahtN7ijTk6LiGKfwAQXErQ&oe=694467DB" itemprop="thumbnail"
                alt="Image description"></a>
            <figcaption itemprop="caption description">Image caption 11</figcaption>
          </figure>
          <figure class="col-xl-3 col-md-4 col-6" itemprop="associatedMedia" itemscope=""><a
              href="../assets/images/big-lightgallry/012.jpg" itemprop="contentUrl" data-size="1600x950"><img
                class="img-thumbnail" src="https://scontent.fsin4-1.fna.fbcdn.net/v/t39.30808-6/489822647_1081988937288972_2722589031704146536_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=f727a1&_nc_ohc=rcZ5ZPIJfVUQ7kNvwFCqCum&_nc_oc=AdnWV8T8Ky3sWGt_fFSuTB_Rzgq7fQ-BafW8pQNJo8qM-VtGYAjTjy1-1u5noUj0fCQ&_nc_zt=23&_nc_ht=scontent.fsin4-1.fna&_nc_gid=batSpobcWCUh7AY-CF1PlA&oh=00_AfmeSJzlbfG4w-84zZy4ln-rahtN7ijTk6LiGKfwAQXErQ&oe=694467DB" itemprop="thumbnail"
                alt="Image description"></a>
            <figcaption itemprop="caption description">Image caption 12</figcaption>
          </figure>
        </div>
        <!-- Root element of PhotoSwipe. Must have class pswp.-->
        
      </div>
    </div>
  </div>
</div>
{% endblock content %}