<body>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="sr-no-header text-center">#</th>
                    <th>Name</th>
                    <th>Reference</th>
                    <th>Member Type</th>
                    <th>Register on</th>
                    <th>Membership Status</th>
                    <th>Membership No.</th>
                    <th>Approved on</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="membershipsTableBody">
                <!-- Table rows will be rendered here -->
            </tbody>
        </table>
    </div>
</body>