{% extends 'public/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="page-title mt-5">
            <div class="row">
                <div class="col-sm-6 col-12">
                    <h2></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row container-fluid">
        <div class="col-md-3">

            <div class="list-group" id="list-tab" role="tablist">
                {% for post in association_posts %}
                <a class="list-group-item list-group-item-action {% if post.title_others in request.path %}bg-primary{% endif %}"
                   href="{% url 'association_post_details' post.title_others %}"
                   id="list-home-list"
                   aria-controls="list-home"
                   aria-selected="false" tabindex="-1">{{ post.title_others }}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            <div class="card border-primary">
                <div class="card-header bg-primary p-4 d-flex justify-content-between">
                    <h2 class="text-white">{{ post.title }}</h2>
                </div>
                <div class="card-body">
                    <p class="mt-2">{{ post.content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}